<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1200" />
    <meta name="author" content="Moing 모잉" />
    <meta name="apple-mobile-web-app-title" content="모잉" />
    <meta name="description" content="모잉 웹사이트" />

    <!--css-->
    <link href="../static/css_home.css" rel="stylesheet" />

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!--폰트 어썸-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <!--구글 폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- 자바스크립트 -->
    <script src="js/jquery-3.5.1.min.js"></script>

    <title>모잉</title>
</head>
<body class="main">
    <div id="wrapper">
        <a href="#main" id="skip-nav">본문 바로가기</a>

        <header id="header">
            <span><a href="index0.html"><img alt="Moing" src="../static/logo.png" /></a></span>
            <h1>모잉</h1>
            <nav id="gnb">
                    <ul>
                        <li>
                            <a href="#">모잉 소개</a>
                        </li>
                        <li>
                            <a href="#">서울시 정책 정보 소개</a>
                        </li>
                        <li>
                            <a href="#">게시판</a>
                        </li>
                        <li>
                            <a href="#">공간 공유</a>
                            <ul>
                                <li><a href="#">공간대여 가게목록</a></li>
                                <li><a href="#">공간신청 진행상황</a></li>
                            </ul>
                        </li>
                    </ul>
            </nav>
            <ul id="user-part">
                <li><a href="#">로그인/로그아웃<i class="fas fa-user"></i></a></li>
                <!--사용자가 로그인 하면-->
                <li><a href="#">계정 설정<i class="fas fa-cog"></i></a></li>
                <!--관리자가 로그인 하면-->
                <li><a href="">사용자 설정<i class="fas fa-users-cog"></i></a></li>
            </ul>
        </header>






    </div>



</body>
</html>